*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      background-color: #ffffff;
      font-family: sans-serif;
  }
  .login_form_container{
      position: relative;
      width: 600rem;
      height: 600rem;
      max-width: 40rem;
      max-height: 45rem;
      background: #ffffff;
      border-radius: 50px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-top: 20rem;
      right: 55rem;
      position: absolute;
  }
  .login_form_container::before{
      
      position: absolute;
      width: 190%;
      height: 190%;
      content: '';
      background-image: conic-gradient(transparent, transparent, transparent, rgb(244,148,30)
      );
      animation: rotate_border 6s linear infinite;
  
  }
  .login_form_container::after{
      
      position: absolute;
      width: 190%;
      height: 190%;
      content: '';
      background-image: conic-gradient(transparent, transparent, transparent, rgb(12,76,164)
      );
      animation: rotate_border 6s linear infinite;
      animation-delay: -3s;
  }
  @keyframes rotate_border{
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }


  input[type="email"] , input[type="password"]{
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
    position: relative;
    top: 70px;
}




  .login_form{
      position: absolute;
      content: '';
      background-color: #ffffff;
      border-radius: 50px 5px;
      inset: 5px;
      padding: 70px 70px;
      z-index: 10;
      width: 98%;
      height: 700rem;
  
  } 
  .input_group{
      margin-top: 40px;
      position:relative;
      display:flex;
      align-items: center;
      justify-content: start;
  }

  ::placeholder{
      font-size: 15px;
      
      letter-spacing: 1px;
  
  }
  .fa{
      font-size: 20px;
  
  }

  
  .fotter {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
  
  }


  .btn-sesion{
    position: relative;
    display: inline-block;
    color: #f07401;
    letter-spacing: 4px;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2;
    right: 180px;
    height: 50px;
    width: 250px;
    cursor: pointer;
    top: 33rem;
    position: absolute;
}

.btn-sesion p{
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  top: 10px;
  font-family: sans-serif;
  text-align: center;
  
}


.btn-sesion p:hover{
  color: #ffffff;
}

 

.btn-sesion:hover{
  background: rgb(22,92,164);

  /* box-shadow: 0 0 10px orange, 0 0 80px orange; */
  transition-delay: 1s;
  border-radius: 5px;
}

.btn-sesion span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg,transparent,rgb(244,148,30)

  );
}

.btn-sesion:hover #span1{
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span3{
  top: 0;
  right: -100%;
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg,transparent,rgb(22,92,164)

  );
}

.btn-sesion:hover #span3{
  right: 100%;
  height: 100%;
  width: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

h2{
    margin-bottom: 40px;
    font-size: 2.5em;
    position: relative;
    top: 40px;
    color: rgb(12,76,164)

    ;
    font-family: sans-serif;
    position: absolute;
    right: 15rem;

}

.copyright {
    position: relative;
    top: 40rem;
    left: 200px;

    position: absolute;
}

.aceptarTerminos{
    position: relative;
    top: 30rem;
    right: 35rem;
    position: absolute;
}

span{
    float: left;
    position: relative;
    top: 30px;

}

img{
    position: relative;
    top: 140px;
    left: 400px;
}